In [1]:
library(readr)
library(survival)
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
TENURES <- read_csv('bytenure.csv', na=character()) %>% filter(ending != 'interim only')

Parsed with column specification:
cols(
  slug = col_character(),
  coach = col_character(),
  coach_id = col_character(),
  ending = col_character(),
  total_games = col_double(),
  total_wins = col_double(),
  total_losses = col_double(),
  start_rating = col_double(),
  end_rating = col_double(),
  top = col_double(),
  bottom = col_double(),
  middle = col_double(),
  last_improvement = col_double()
)

In [3]:
head(TENURES)

  slug                 coach            coach_id   ending   total_games
1 krugelo99c|00|02|ATL Lon Kruger       krugelo99c fired    191
2 stottte99c|02|04|ATL Terry Stotts     stottte99c fired    137
3 woodsmi01c|04|10|ATL Mike Woodson     woodsmi01c fired    493
4 drewla01c|10|13|ATL  Larry Drew       drewla01c  fired    230
5 budenmi99c|13|17|ATL Mike Budenholzer budenmi99c          356
6 pitinri99c|00|01|BOS Rick Pitino      pitinri99c resigned  34
  total_wins total_losses start_rating end_rating top      bottom   middle
1  69        122          1354.050     1424.825   1498.447 1323.606 1378.746
2  52         85          1431.213     1404.525   1454.663 1351.423 1405.307
3 206        287          1416.497     1625.674   1625.674 1201.652 1411.411
4 128        102          1577.661     1481.606   1608.431 1434.701 1535.035
5 195        161          1479.509     1372.671   1701.183 1372.671 1520.065
6  12         22          1509.496     1372.376   1512.213 1372.376 1459.238
  last_improvement
1  -12.1864
2  -45.4351
3  113.4293
4  -51.1603
5 -122.9691
6 -137.1198

In [4]:
TENURES %>%
group_by(ending) %>%
summarize(ending_freq = n()) %>%
arrange(desc(ending_freq))

  ending           ending_freq
1 fired            114
2                   30
3 resigned          26
4 contract expired   2
5 mutual             2
6 retired            2
7 traded             2
8 died               1

In [5]:
death_event <- c('fired', 'contract expired', 'mutual')

In [6]:
TENURES <- TENURES %>% mutate(death = (ending %in% death_event)*1)

In [7]:
TENURES %>% head

  slug                 coach            coach_id   ending   total_games
1 krugelo99c|00|02|ATL Lon Kruger       krugelo99c fired    191
2 stottte99c|02|04|ATL Terry Stotts     stottte99c fired    137
3 woodsmi01c|04|10|ATL Mike Woodson     woodsmi01c fired    493
4 drewla01c|10|13|ATL  Larry Drew       drewla01c  fired    230
5 budenmi99c|13|17|ATL Mike Budenholzer budenmi99c          356
6 pitinri99c|00|01|BOS Rick Pitino      pitinri99c resigned  34
  total_wins total_losses start_rating end_rating top      bottom   middle
1  69        122          1354.050     1424.825   1498.447 1323.606 1378.746
2  52         85          1431.213     1404.525   1454.663 1351.423 1405.307
3 206        287          1416.497     1625.674   1625.674 1201.652 1411.411
4 128        102          1577.661     1481.606   1608.431 1434.701 1535.035
5 195        161          1479.509     1372.671   1701.183 1372.671 1520.065
6  12         22          1509.496     1372.376   1512.213 1372.376 1459.238
  last_improvement death
1  -12.1864        1
2  -45.4351        1
3  113.4293        1
4  -51.1603        1
5 -122.9691        0
6 -137.1198        0

In [8]:
POC <- read_csv('../categorized/coach-list-poc.csv')

Parsed with column specification:
cols(
  coach = col_character(),
  coach_id = col_character(),
  franchises = col_character(),
  poc = col_character(),
  note = col_character()
)

In [9]:
head(POC)

  coach         coach_id   franchises poc note
1 Tyronn Lue    luety01c   CLE        yes NA
2 Tyrone Corbin corbity01c SAC|UTA    yes NA
3 Tony Brown    brownto01c NJNBRK     yes NA
4 Terry Porter  portete01c PHO|MIL    yes NA
5 Sidney Lowe   lowesi01c  VANMEM     yes NA
6 Sam Vincent   vincesa01c CHARBH     yes NA

In [10]:
PLAYERS <- read_csv('../categorized/coach-list-qualifications.csv')

Parsed with column specification:
cols(
  coach = col_character(),
  coach_id = col_character(),
  franchises = col_character(),
  former_nba_player = col_character()
)

In [11]:
head(PLAYERS)

  coach           coach_id   franchises former_nba_player
1 Isiah Thomas    thomais01c IND|NYK    yes
2 Michael Cooper  coopemi01c DEN        yes
3 Larry Drew      drewla01c  ATL|MIL    yes
4 Vinny Del Negro delnevi01c CHI|LAC    yes
5 Paul Westphal   westppa01c SAC|SEAOKC yes
6 Mike Woodson    woodsmi01c NYK|ATL    yes

In [12]:
tenures <- list(
    TENURES,
    POC %>% select(coach_id, poc),
    PLAYERS %>% select(coach_id, former_nba_player)
) %>%
Reduce(function(dtf1,dtf2) left_join(dtf1,dtf2,by="coach_id"), .)

In [13]:
head(tenures)

  slug                 coach            coach_id   ending   total_games
1 krugelo99c|00|02|ATL Lon Kruger       krugelo99c fired    191
2 stottte99c|02|04|ATL Terry Stotts     stottte99c fired    137
3 woodsmi01c|04|10|ATL Mike Woodson     woodsmi01c fired    493
4 drewla01c|10|13|ATL  Larry Drew       drewla01c  fired    230
5 budenmi99c|13|17|ATL Mike Budenholzer budenmi99c          356
6 pitinri99c|00|01|BOS Rick Pitino      pitinri99c resigned  34
  total_wins total_losses start_rating end_rating top      bottom   middle
1  69        122          1354.050     1424.825   1498.447 1323.606 1378.746
2  52         85          1431.213     1404.525   1454.663 1351.423 1405.307
3 206        287          1416.497     1625.674   1625.674 1201.652 1411.411
4 128        102          1577.661     1481.606   1608.431 1434.701 1535.035
5 195        161          1479.509     1372.671   1701.183 1372.671 1520.065
6  12         22          1509.496     1372.376   1512.213 1372.376 1459.238
  last_improvement death poc former_nba_player
1  -12.1864        1     no  no
2  -45.4351        1     no  no
3  113.4293        1     yes yes
4  -51.1603        1     yes yes
5 -122.9691        0     no  no
6 -137.1198        0     no  no

In [14]:
regdata <- tenures[
    ,
    !(colnames(tenures) %in% c("slug","coach","coach_id","ending","total_losses","improvement"))
]

In [15]:
surv.all <- coxph(
    Surv(total_games, death) ~ .,
    data = regdata
)

In [16]:
summary(surv.all)

Call:
coxph(formula = Surv(total_games, death) ~ ., data = regdata)

  n= 179, number of events= 118

                           coef  exp(coef)   se(coef)       z Pr(>|z|)
total_wins           -0.0835351  0.9198588  0.0074665 -11.188  < 2e-16 ***
start_rating         -0.0049149  0.9950972  0.0020645  -2.381  0.01728 *
end_rating           -0.0008164  0.9991839  0.0028802  -0.283  0.77683
top                  -0.0047038  0.9953072  0.0043269  -1.087  0.27698
bottom                0.0158767  1.0160034  0.0037124   4.277  1.9e-05 ***
middle                0.0134880  1.0135794  0.0051221   2.633  0.00846 **
last_improvement     -0.0043636  0.9956459  0.0028089  -1.553  0.12031
pocyes                0.2925532  1.3398440  0.2144580   1.364  0.17252
former_nba_playeryes -0.0606292  0.9411722  0.2231530  -0.272  0.78586
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

                     exp(coef) exp(-coef) lower .95 upper .95
total_wins              0.9199     1.0871    0.9065    0.9334
start_rating            0.9951     1.0049    0.9911    0.9991
end_rating              0.9992     1.0008    0.9936    1.0048
top                     0.9953     1.0047    0.9869    1.0038
bottom                  1.0160     0.9842    1.0086    1.0234
middle                  1.0136     0.9866    1.0035    1.0238
last_improvement        0.9956     1.0044    0.9902    1.0011
pocyes                  1.3398     0.7464    0.8800    2.0399
former_nba_playeryes    0.9412     1.0625    0.6077    1.4575

Concordance= 0.948  (se = 0.032 )
Rsquare= 0.882   (max possible= 0.997 )
Likelihood ratio test= 383.2  on 9 df,   p=0
Wald test            = 158.3  on 9 df,   p=0
Score (logrank) test = 139.7  on 9 df,   p=0